.hidden {
  display: none;
}

.loser_container,
.results_container {
  margin: auto;
}

.results_action {
  text-align: center;
}

.loser_input span {
  background: #4d4d4d;
  color: #d6d6d6;
  padding: 12px;
  border-radius: 0 25px 25px 0;
  position: relative;
  top: -35px;
  right: -123px;
}

.loser_input span:hover {
  background: #d6d6d6;
  color: #4d4d4d;
  cursor: pointer;
}

input {
  width: 100%;
  text-align: center;
  border-radius: 50px;
  border: 1px solid #d6d6d6;
  padding: 10px;
  padding-right: 30px;
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #b8b8b8;
  font-size: 14px;
}

.button_container {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 10px;
}

.button_container div {
  cursor: pointer;
  background: #ccc;
  padding: 4px 10px;
  border-radius: 40px;
  color: #4d4d4d;
}

.button_container div:hover {
  background: #4d4d4d;
  color: #ccc;
}

.loser_list_wrapper {
  height: 26px;
}

.result {
  text-align: center;
  height: 30px;
  background: steelblue;
  color: snow;
  border-radius: 4px;
  line-height: 1.7;
}

.loser_name {
  background: steelblue;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 6px;
}

.loser_name:hover {
  background: tomato;
  cursor: pointer;
}

.run_again,
.start_again {
  cursor: pointer;
  background: #4d4d4d;
  padding: 6px 12px;
  margin: 10px auto;
  border-radius: 20px;
  color: #b8b8b8;
}

.run_again:hover,
.start_again:hover {
  color: #4d4d4d;
  background: #b8b8b8;
}